config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue-ui:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue-ui.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue-ui git:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-rose-buzzard.sh
        container: qc.acc_geeky-lilac-pig
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue-ui find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.surly-olive-cat.sh
        container: qc.doc_silly-cardinal-ragdoll
      github.com/madgeek-arc/resource-catalogue-ui git:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-maroon-scorpion.sh
        container: qc.doc_homely-persimmon-avocet
      github.com/madgeek-arc/resource-catalogue-ui markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-ivory-toucan.sh
        container: qc.doc_craggy-azure-beaver
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue-ui licensee:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-ivory-raccoon.sh
        container: qc.lic_goopy-purple-owl
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue-ui hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-tan-husky.sh
        container: qc.sty_clammy-xanthic-fousek
      github.com/madgeek-arc/resource-catalogue-ui jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-cinnabar-crane.sh
        container: qc.sty_grumpy-saffron-stoat
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue-ui get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-pear-millipede.sh
        container: qc.ver_flaky-azure-devil
timeout: 5400
